.classpath
.settings
eclipse
.project
tmp
test-result
precompiled
*target/
.compiled
pom.xml
conf/personal.conf
*.swp
app/job/WTFJob.java
test/job/WTFJobTest.java
server.pid
logs/
/bin
/import
.DS_Store
*/.DS_Store
.idea
*.iml
node_modules
node_modules/
out/
out
sdklog
smsplat.iml
smsplat.ipr
smsplat.iws
.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
test/unit/coverage
test/e2e/reports
selenium-debug.log
